<ion-view view-title="ARCHETYPES">
	<ion-tabs class="tabs-striped tabs-top tabs-background-dark tabs-color-light">
		<ion-tab title="Archetypes">
			<!-- Tab 1 content -->
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<h1>16 Archetypal Roles</h1>
			<p>Learn about the great heroic archetypes and characters that carry the wisdom of the people.</p>

			<hr/>
			<h2>Transcendance</h2>
			<div class="button-bar">
				<a class="button">
					<img class="akMenuImage" src="img/ionic.png" alt="Archetype Icon" height="50" />
					<p class="akMenuItem">Hero/Heroine</p>
				</a>
				<a class="button">
					<img class="akMenuImage" src="img/ionic.png" alt="Archetype Icon" height="50" />
					<p class="akMenuItem">Leader/King</p>
				</a>
				<a class="button">
					<img class="akMenuImage" src="img/ionic.png" alt="Archetype Icon" height="50" />
					<p class="akMenuItem">Warrior</p>
				</a>
				<a class="button">
					<img class="akMenuImage" src="img/ionic.png" alt="Archetype Icon" height="50" />
					<p class="akMenuItem">Virgin</p>
				</a>
			</div>

			<hr/>
			<h2>Relationship</h2>
			<div class="button-bar">
				<a class="button">
					<img class="akMenuImage" src="img/ionic.png" alt="Archetype Icon" height="50" />
					<p class="akMenuItem">Guide/Teacher</p>
				</a>
				<a class="button">
					<img class="akMenuImage" src="img/ionic.png" alt="Archetype Icon" height="50" />
					<p class="akMenuItem">Carer/Mother</p>
				</a>
				<a class="button">
					<img class="akMenuImage" src="img/ionic.png" alt="Archetype Icon" height="50" />
					<p class="akMenuItem">Sage/Father</p>
				</a>
				<a class="button">
					<img class="akMenuImage" src="img/ionic.png" alt="Archetype Icon" height="50" />
					<p class="akMenuItem">Partner/Friend</p>
				</a>
			</div>

			<hr/>
			<h2>Physical Reality</h2>
			<div class="button-bar">
				<a class="button">
					<img class="akMenuImage" src="img/ionic.png" alt="Archetype Icon" height="50" />
					<p class="akMenuItem"></p>
				</a>
				<a class="button">
					<img class="akMenuImage" src="img/ionic.png" alt="Archetype Icon" height="50" />
					<p class="akMenuItem"></p>
				</a>
				<a class="button">
					<img class="akMenuImage" src="img/ionic.png" alt="Archetype Icon" height="50" />
					<p class="akMenuItem"></p>
				</a>
				<a class="button">
					<img class="akMenuImage" src="img/ionic.png" alt="Archetype Icon" height="50" />
					<p class="akMenuItem"></p>
				</a>
			</div>
		</ion-tab>

		<ion-tab title="Archetype Test">
			<!-- Tab 2 content -->
			<br/>
			<br/>
			<br/>
			<br/>
			<br/>
			<p>Content for Tab 2 Tab 2 Tab 2 goes here</p>
		</ion-tab>
	</ion-tabs>

	<ion-content>

	</ion-content>
</ion-view>
