<ion-view title="CHARACTERS">
	<ion-content>
		<div class="bar bar-header item-input-inset">
			<label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
				<input type="search" id="searchTerm" placeholder="Search for a character" ng-model="searchCharacter" />
			</label>
			<button class="button button-clear">Cancel</button>
		</div>

	  <ion-list>
		<div class="bard-panel">
			<br/>
			<p>Filter by cycle:</p>
		</div>

		<div ng-repeat="character in characters | filter:searchCharacter" ng-controller='ProfileController'>
		  <ion-item class="item item-avatar" ng-click="showProfile(character)">
			<img src="img/{{character.img}}">
			<h2>{{character.name}}</h2>
			<p></p>
		  </ion-item>			

<!--
		  <ion-item class="item-stable" ng-click="toggleGroup(character)" ng-class="{active: isGroupShown(character)}">
			<div class="item item-avatar">
				<img src="img/{{character.img}}">
				<h2>{{character.name}}</h2>
				<p></p>
			</div>
		  </ion-item>

		  <ion-item class="item-accordion" ng-repeat="story in character.stories" ng-show="isGroupShown(character)" ng-click="openModal()">
			<img src="img/{{story.img}}" alt="image" height="35" />
		    {{story.title}}
		  </ion-item>
 -->
		</div>
	  </ion-list>

	</ion-content>
</ion-view>