<ion-view>
	<ion-nav-title>
		<h4 class="section-heading">CHARACTERS</h4>
	</ion-nav-title>
	<ion-tabs class="tabs-striped tabs-top tabs-color-light">
		<ion-tab title="Characters">
			<!-- Tab 1 content -->
			<ion-content>
				<!-- 
					The below five "new line" tags are a kludge. Seems to be a bug in Ionic ion-tab tag.
					Without the five newlines, the content would be under the tab bar.
				-->
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>

				<div class="char-slider">
					<ion-slide-box show-pager="false" on-slide-changed="slideChanged(index)">
						<ion-slide ng-repeat="character in characters">
							<div class="slide">
								<br/><br/><br/>
								<img src="img/{{character.img}}">
							</div>
						</ion-slide>
					</ion-slide-box>
				</div>
				<div class="bard-panel">
					<h2 class="section-heading">{{placard}}</h2>
					<p>{{snippet}}</p>
					<div ng-controller="ProfileController">
						<!-- Click the button to open the Character's profile -->
						<button class="button button-bard" ng-click="showProfile(morelink)">Read More</button>
					</div>
				</div>
			</ion-content>
		</ion-tab>

		<ion-tab title="Search">
			<!-- Tab 2 content -->
			<ion-content>
				<!-- 
					The below five "new line" tags are a kludge. Seems to be a bug in Ionic ion-tab tag.
					Without the five newlines, the content would be under the tab bar.
				-->
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>

				<div class="bar bar-header item-input-inset">
					<label class="item-input-wrapper">
					<i class="icon ion-ios-search placeholder-icon"></i>
						<input type="search" id="searchTerm" placeholder="Search for a character" ng-model="searchCharacter" />
					</label>
					<!-- Cancel button functionality not added yet! -->
					<button class="button button-clear">Cancel</button>
				</div>

			  <ion-list>
				<div class="bard-panel">
					<br/>
					<p class="filter-text">Filter by cycle:</p>
					<button class="button filter-text filter-button" ng-click="filterList('All')">All</button>
					<button class="button filter-text filter-button" ng-click="filterList('Mythological')">Mythological</button>
					<button class="button filter-text filter-button" ng-click="filterList('Ulster')">Ulster</button>
					<button class="button filter-text filter-button" ng-click="filterList('Fenian')">Fenian</button>
					<button class="button filter-text filter-button" ng-click="filterList('King')">King</button>
				</div>

				<div ng-repeat="character in characterList | filter:searchCharacter" ng-controller='ProfileController'>
				<!-- Click the list item to open the Character's profile -->
				  <ion-item class="item item-avatar" ng-click="showProfile(character)">
					<img src="img/{{character.img}}">{{character.name}}
<!--
					<h2>{{character.name}}</h2>
					<p></p>
-->
				  </ion-item>			

				</div>
			  </ion-list>

			</ion-content>
		</ion-tab>
	</ion-tabs>
</ion-view>