<ion-view title="HOME">
	<ion-content class="has-header">
		<div class="bard-panel">
			<img class="imgCentered" src="img/ionic.png" alt="Archetype Logo" width="100" />
			<h3>Your Archetype Profile</h3>
			<h2>The Hero / Heroine</h2>

			<a class="button rounded" href="">Take the test again?</a>

			<h2>Your Progress</h2>
		</div>

		<div class="list">
			<div class="list">
				<div class="item item-thumbnail-left">
					<img src="img/ionic.png" height="120">
					<h2>Why Myth?</h2>
					<p class="slant">An Introduction to Bardic Thinking</p><br/>
					<ol class="progressbard" ng-repeat="module in modules">
						<li class="{{module.progress}}"></li>
					</ol>
				</div>
			</div>
		</div>


	</ion-content>
</ion-view>