<ion-view>
	<ion-nav-title>
		<h4 class="section-heading">HOME</h4>
	</ion-nav-title>
	<ion-content class="has-header">
		<div class="row">
			<div class="col">
				<img class="responsive centered-img" src="img/onboard-logo.png" alt="Bard Logo">
			</div>
		</div>

		<!-- 
			2x2 Grid with links to the four other main pages
		-->
		<div class="row">
			<div class="col home-tile">
				<a href="#/app/myths">
					<img class="responsive" src="img/onboard-myth.png" alt="Why Myth?">
					<h4 class="home-tile-heading">WHY MYTH?</h4>
				</a>
			</div>
			<div class="col home-tile">
				<a href="#/app/journeys">
					<img class="responsive" src="img/onboard-journeys.png" alt="Journeys">
					<h4 class="home-tile-heading">JOURNEYS</h4>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col home-tile">
				<a href="#/app/stories">
					<img class="responsive" src="img/onboard-stories.png" alt="Stories">
					<h4 class="home-tile-heading">STORIES</h4>
				</a>
			</div>
			<div class="col home-tile">
				<a href="#/app/characters">
					<img class="responsive" src="img/onboard-characters.png" alt="Characters">
					<h4 class="home-tile-heading">CHARACTERS</h4>
				</a>
			</div>
		</div>

	</ion-content>
</ion-view>