<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
<!--    <ion-nav-bar class="bar-dark"> -->
    <ion-nav-bar>
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" width="160">
    <ion-content class="bard-nav">
		<ul class="list">
			<li menu-close class="item"><a class="bard-link" href="#/app/home">
				<img src="img/onboard-logo.png" alt="Home" height="60"><br/>Home</a></li>
			<li menu-close class="item"><a class="bard-link" href="#/app/myths">
				<img src="img/onboard-myth.png" alt="Myth" height="60"><br/>Why Myth?</a></li>
			<li menu-close class="item"><a class="bard-link" href="#/app/stories">
				<img src="img/onboard-stories.png" alt="Stories" height="60"><br/>Stories</a></li>
			<li menu-close class="item"><a class="bard-link" href="#/app/characters">
				<img src="img/onboard-characters.png" alt="Characters" height="60"><br/>Characters</a></li>
			<li menu-close class="item"><a class="bard-link" href="#/app/journeys">
				<img src="img/onboard-journeys.png" alt="Journeys" height="60"><br/>Journeys</a></li>
		</ul>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
