<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" width="160">
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/home">
          <img class="akMenuImage" src="img/ionic.png" alt="Home" height="60">
        </ion-item>
        <ion-item menu-close href="#/app/myths">
          <img class="akMenuImage" src="img/ionic.png" alt="Home" height="60">
          <p class="akMenuItem">Why Myth?</p>
        </ion-item>
        <ion-item menu-close href="#/app/stories">
          <img class="akMenuImage" src="img/ionic.png" alt="Home" height="60">
          <p class="akMenuItem">Stories</p>
        </ion-item>
        <ion-item menu-close href="#/app/journeys">
          <img class="akMenuImage" src="img/ionic.png" alt="Home" height="60">
          <p class="akMenuItem">Journeys</p>
        </ion-item>
        <ion-item menu-close href="#/app/characters">
          <img class="akMenuImage" src="img/ionic.png" alt="Home" height="60">
          <p class="akMenuItem">Characters</p>
        </ion-item>
        <ion-item menu-close href="#/app/archetypes">
          <img class="akMenuImage" src="img/ionic.png" alt="Home" height="60">
          <p class="akMenuItem">Archetypes</p>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
