<ion-view title="MYTHS">
	<ion-content class="has-header">
		<div class="mainContent">
			<h1>Irish Myths and Legends</h1>
			<p>Irish Myths and Legends content goes here!</p>

			<ion-list>
				<div ng-repeat="group in groups">
					<ion-item class="item-stable" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
						{{group.name}}
					</ion-item>
					<ion-item class="item-accordion" ng-repeat="item in group.items" ng-show="isGroupShown(group)">
						<img src="img/{{item.image}}" alt="image" height="35" />
						{{item.title}}
					</ion-item>
				</div>
			</ion-list>
		</div>
	</ion-content>
</ion-view>