<ion-modal-view class="profile-page">
	<ion-header-bar class="profile-header">
		<button class="button button-clear button-dark icon ion-close-circled pull-right" ng-click="closeModal()"></button>
		<!--	<a class="button" href="javascript:" ng-click="closeModal()">
				<i class="icon ion-close"></i>
			</a>	 -->
	</ion-header-bar>
	<ion-content>
		<img class="profile-image" src="img/{{profile.img}}">
		<h2 class="profile-title"><img src="img/{{cycleImg}}" src="Cycle Image" height="35" />{{profile.name}}</h2>
		<p ng-class="cycleCss">{{content.overview}}</p>

		<h4 class="profile-section">Background:</h4>
		<p class="profile-mainText" ng-repeat="story in content.stories">{{story}}</p>

		<h4 class="profile-section">Conclusion:</h4>
		<p class="profile-mainText">{{content.conclusion}}</p>
	</ion-content>
</ion-modal-view>