<div class="onboard-slider">
	<ion-slide-box>
		<ion-slide ng-repeat="slide in slides">
			<div class="slide">
				<img class="slide-image" src="img/{{slide.img}}" alt="Slide Title">
				<h1 class="slide-heading">{{slide.title}}</h1>
				<p class="slide-subheading">{{slide.description}}</p>

				<div class="bard-footer">
					<div class="title">
						<div ng-show="{{slide.button}}">
							<a class="button button-full button-bard" href="{{slide.buttonLink}}">{{slide.buttonText}}</a>
						</div>
						<div ng-hide="{{slide.button}}">
							<p>{{slide.buttonText}}</p>
						</div>
					</div>
				</div>
			</div>

		</ion-slide>
	</ion-slide-box>
</div>