<ion-view>
	<ion-nav-title>
		<h4 class="section-heading">STORIES</h4>
	</ion-nav-title>
	<ion-content>
		<div class="bard-panel">
			<h2 class="section-heading">Stories of Irish Myth</h2>
			<p class="section-subheading">The traditional tales of Irish Myth are organized in the medieval manuscripts into four cycles.</p>
		</div>

	  <ion-list>
		<div ng-repeat="myth in myths">
		  <ion-item class="item-stable" ng-click="toggleGroup(myth)" ng-class="{active: isGroupShown(myth)}">
			<div class="row">
				<div class="col"><img class="list-img" src="img/{{myth.image}}" alt="{{myth.cycle}} image" /></div>
				<div class="col col-75">{{myth.cycle}}</div>
				<div class="col"><div class="progress-journey"> <span ng-bind="completed(myth)"></span> / <span ng-bind="listSize(myth)"></span></div></div>
			</div>
		  </ion-item>
		  <ion-item class="item-accordion" ng-repeat="story in myth.stories" ng-show="isGroupShown(myth)">
			<div class="row" ng-controller="PlayerController">
				<div class="col col-5">
					<div ng-show="{{story.done}}">
						<img class="list-img" src="img/list-item-completed-icon.png" alt="image" />
					</div>
					<div ng-hide="{{story.done}}">
						<img class="list-img" src="img/list-item-icon.png" alt="image" />
					</div>
				</div>
				<div class="col col-90" ng-click="openPlayer(myth.cycle, story)">{{story.title}}</div>
			</div>
		  </ion-item>
		</div>
	  </ion-list>
	</ion-content>
</ion-view>