/* 
 * Bard App Stylesheet
 */
.pane, .bar, .scroll-content {
	background: #102832;
	color: #FFFFFF;
	text-align: center;
	font-family: "PTSerif";
}

.tabs {
	background-color: transparent !important;
}

a:link, a:hover, a:active, a:visited  {
	color: #FFFFFF;
	text-decoration: none;
}

/* Slides */
.slider {
	height: 100%;
	slider-width: 0.8;
}

.slider-pager {
	top: 5%;
	bottom: initial;
}

.slider-pager-page {
	color: #CCCCCC !important;
}

.slider-pager-page.active {
	color: #FFFFFF;
}

.slider-slide {
	padding-top: 10%;
}

/* Fonts and Headings */
.slide-heading {
	color: #FFFFFF;
	font-family: "PTSerif_Bold";
}

.slide-subheading {
	font-family: "PTSerif_Italic";
}

.section-heading {
	color: #FFFFFF;
	font-family: "HighTide_Bold";
}

.section-subheading {
	color: #15a67b;
	font-family: "PTSerif_Italic";
}

/* Buttons */
.button-bard {
	background: #15a67b;
	font-family: "HighTide_Bold";
}


/* Side Menu */
.bard-nav .list .item {
	background: #102832;
}

/* Lists */
.list, .item {
    background: #102832;
	color: #FFFFFF;
	text-align: left;
	font-family: "PTSans_Bold";
}

/* Lists: Subitems */
.list .item.item-accordion {
	line-height: 38px;
	padding-top: 0;
	padding-bottom: 0;
	transition: 0.09s all linear;
	background: #1f333c;
	color: #FFFFFF;
	text-align: left;
}
.list .item.item-accordion.ng-hide {
	line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
	display: block !important;
}
/* Lists: Header items */
.list .item.item-stable {
	background: #102832;
	color: #FFFFFF;
	text-align: left;
}

/* Lists: Header items when SubItems are shown */
.list .item.item-stable.active {
	background-image: linear-gradient(bottom, #1f333c 50%, #102832 50%);
	background-image: -o-linear-gradient(bottom, #1f333c 50%, #102832 50%);
	background-image: -moz-linear-gradient(bottom, #1f333c 50%, #102832 50%);
	background-image: -webkit-linear-gradient(bottom, #1f333c 50%, #102832 50%);
	background-image: -ms-linear-gradient(bottom, #1f333c 50%, #102832 50%);
	color: #FFFFFF;
	text-align: left;
}

.list .item-divider {
	color: #000000;
}

