/* 
 * Bard App Stylesheet
 */

.pane {
	background: url('../img/bard-bg-full.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: top center;
}

.bar.bar-dark {
	background-color: transparent !important; 
}
.scroll-content {
	overflow: visible !important;
}

.bard-nav {
	background-color: #071a29;
	color: #ffffff;
}

.list, .item {
    background: transparent;
}

.bard-link {
	text-align: center;
	color: #ffffff;
	text-decoration: none;
}

h1, h2, h3 {
	color: #ffffff;
}

.rounded {
	border-radius: 25px;
	border: 1px solid #ffffff;
	background-color: #071a29;
	color: #ffffff;
}

.selected {
	background-color: #ffffff;
	color: #000000;
}

/* Home */
.responsive {
	max-width:100% !important;
    height:auto;
    display:block;
}

.home-tile {
	text-align: center;
	border: 1px solid #FFFFFF;
}

.home-tile-heading {
	color: #FFFFFF;
	font-family: "PTSans_Bold";
}

.home-tile img {
	margin: auto;
}

.home-tile a {
	text-decoration: none;
}

/* Stories */
#searchTerm {
	color: #ffffff;
}

.item-input-wrapper, .item-input-inset {
	background-color: #071a29;
	color: #ffffff;
	border: 1px solid #ffffff;
}

.bard-box {
	margin-bottom: 40px;
}

.bard-panel {
	background-color: #071a29;
	text-align: center;
	padding: 40px;
	border: 2px solid #848d96;
}

.bard-panel h2 {
	font-weight: bold;
}

.bard-panel h3 {
	font-style: italic;
}

.bard-title {
	color: #ff0000;
}

/* Story Slider */
.story-slider {
	height: 40%;
	width: 56%;
	margin: 0 auto;
}

.story-slider .slider {
	height: 100%;
	overflow: visible;
}

.story-slider .slider-slide {
	overflow: hidden;
	color: #000;
	text-align: center;
}

.story-slider ion-slide {
	background: transparent;
	padding-right: 3px;
	padding-left: 3px;
}

.story-slider ion-slide img {
	width: 60%;
}

.story-slider ion-slide:first-child { padding-left: 0; }
.story-slider ion-slide:last-child { padding-left: 0; }
.story-slider ion-slide:nth-child(2) { z-index: 1; }

/* Slides */
.slider {
	height: 100%;
	slider-width: 0.8;
}

.slider-pager {
	top: 0;
	bottom: initial;
}

.slider-pager-page {
	color: #cccccc !important;
}

.slider-pager-page.active {
	color: #ffffff;
}

.slider-slide {
	padding-top: 80px;
	color: #ffffff;
	background-color: #071a29;
	text-align: center;
}

.bard-footer {
	background-color: transparent;
	padding-bottom: 5%;
}

/* Archetypes */
.bard-arche-span {
	width: 100%;
}

.bard-archetype {
	background-color: #071a29;
	color: #ffffff;
	width: 100%;
}


/* Buttons */
.filter-btn {
	color: #FFFFFF;
	border-radius: 2px;
	background-color: #071a29;
}


/* Journey stuff */

.list .item.item-accordion {
	line-height: 38px;
	padding-top: 0;
	padding-bottom: 0;
	transition: 0.09s all linear;
	background: transparent;
	color: #000000;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.list .item.item-stable {
	background: transparent;
	color: #ffffff;
}

.list .item.item-stable.active {
/*
	background-image: linear-gradient(bottom, #848d96 50%, #071a29 50%);
	background-image: -o-linear-gradient(bottom, #848d96 50%, #071a29 50%);
	background-image: -moz-linear-gradient(bottom, #848d96 50%, #071a29 50%);
	background-image: -webkit-linear-gradient(bottom, #848d96 50%, #071a29 50%);
	background-image: -ms-linear-gradient(bottom, #848d96 50%, #071a29 50%);
*/
	color: #ffffff;
}

.list .item-divider {
/*	background-color: #fffacd;*/
	color: #000000;
}

/* Home Screen */
.progressbard {
    list-style: none;
    position: relative;
}
.progressbard li {
    height: 15px;
    width: 5%;
    list-style: none;
	border-radius: 15px;
    float: left;
	margin-right: 5px;
    background: #e9e9e9;
}

.progressbard li.done {
    background: #bcd5b9;
}

/* Character Page */
.characterSlider {
	text-align: center;
	font-family: "HighTide_Bold";
}

.tabs-background-dark {
	background-color: #142132 !important;
}

/* Character Profile Pages */
.profile-page {
	background: url('../img/bard-app-bg.png');
	background-repeat: no-repeat;
	background-position: top center;
}

.profile-header {
	background: transparent;
}

.profile-image {
	width: 60%;
	position: relative;
	top: 10%;
	left: 20%;
}

.profile-title {
	font-family: "HighTide_Bold";
	color: #FFFFFF;
	text-align: center;
}

.profile-caption {
	font-family: "PTSerif_Italic";
	color: #FFFFFF;
	padding: 10px;
}

.profile-section {
	font-family: "PTSans_Bold_Italic";
	color: #FFFFFF;
	text-align: center;
}

.profile-mainText {
	font-family: "PTSerif";
	color: #FFFFFF;
	padding: 10px;
}

/* Story Player Pages */
.player-page {
	background: url('../img/bard-app-bg.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: top center;
}

.player-header {
	background: transparent;
}

.player-panel {
	padding: 50px 0px;
}

.player-title {
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.player-caption {
	text-align: center;
	color: #506666;
}


/* Story Player Pages: Audio Controls */
.audio-controls {
	text-align: center;
}

.audio-progress {
	width: 90%;
	margin: auto;
}

#audio-pb-bg {
	background-color: #FFFFFF;
}

.audio-current {
	display: inline;
	text-align: left;
}

.audio-total {
	display: inline;
	float: right;
	text-align: right;
}

.audio-progressbar {
	height: 10px;
	transition: width 0.2s; 
	background: #dd6161;
}