/* Empty. Add your own CSS if you like */
/*
body {
    background: url('../img/bgspiral.jpg');
    background-attachment: fixed;
    background-position: center;
}

body .view-container.tab-content {
	background-color: transparent;
}

body .pane, .menu, .view, .list, .item       {
    background: transparent;
}
*/

body .pane, .menu, .view, .list, .item {
	background-color: #071a29;
	color: #ffffff;
}

.bard-link {
	text-align: center;
	color: #ffffff;
	text-decoration: none;
}

h1, h2, h3 {
	color: #ffffff;
}

.rounded {
	border-radius: 25px;
	border: 1px solid #ffffff;
	background-color: #071a29;
	color: #ffffff;
}

.selected {
	background-color: #ffffff;
	color: #000000;
}

/* Stories */
#searchTerm {
	color: #ffffff;
}

.item-input-wrapper, .item-input-inset {
	background-color: #071a29;
	color: #ffffff;
	border: 1px solid #ffffff;
}

.bard-box {
	margin-bottom: 40px;
}

.bard-panel {
	background-color: #071a29;
	text-align: center;
	padding: 40px;
	border: 2px solid #848d96;
}

.bard-panel h2 {
	font-weight: bold;
}

.bard-panel h3 {
	font-style: italic;
}

.bard-title {
	color: #ff0000;
}

/* Slides */
.slider {
	height: 100%;
	slider-width: 0.8;
}

.slider-pager {
	top: 0;
	bottom: initial;
}

.slider-pager-page {
	color: #cccccc !important;
}

.slider-pager-page.active {
	color: #ffffff;
}

.slider-slide {
	padding-top: 80px;
	color: #ffffff;
	background-color: #071a29;
/*	background-color: #cc0000;*/
	text-align: center;
}

.bard-footer {
	background-color: transparent;
	padding-bottom: 5%;
}

/* Archetypes */
.bard-arche-span {
	width: 100%;
}

.bard-archetype {
	background-color: #071a29;
	color: #ffffff;
	width: 100%;
}


/* Buttons */



/* Journey stuff */
.list .item.item-accordion {
	line-height: 38px;
	padding-top: 0;
	padding-bottom: 0;
	transition: 0.09s all linear;
	background-color: #848d96;
	color: #000000;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.list .item.item-stable {
	background-color: #071a29;
	color: #ffffff;
}

.list .item.item-stable.active {
	/*background-color: #556622;*/
	background-image: linear-gradient(bottom, #848d96 50%, #071a29 50%);
/* Not sure we need the below */
	background-image: -o-linear-gradient(bottom, #848d96 50%, #071a29 50%);
	background-image: -moz-linear-gradient(bottom, #848d96 50%, #071a29 50%);
	background-image: -webkit-linear-gradient(bottom, #848d96 50%, #071a29 50%);
	background-image: -ms-linear-gradient(bottom, #848d96 50%, #071a29 50%);
/* Text colour */
	color: #ffffff;
}

.list .item-divider {
	background-color: #fffacd;	/* LemonChiffon */
	color: #000000;
}

/* Home Screen */
.progressbard {
    list-style: none;
    position: relative;
}
.progressbard li {
    height: 15px;
    width: 5%;
    list-style: none;
	border-radius: 15px;
    float: left;
	margin-right: 5px;
    background: #e9e9e9;
}

.progressbard li.done {
    background: #bcd5b9;
}
